<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs", {testButton: testButton}) %>
    <header>
        <h1>Welcome to the Music Board</h1>
    </header>
    
    <main>
        <% if (library.length > 0) { %>
            <% library.forEach(item => { %>
                <%- include("./partials/card.ejs", { content: item }) %>
            <% }) %>
        <% } else { %>
            <p>Nothing to display</p>
        <% } %>
        <p>This is a basic HTML template for the Music Board application.</p>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>